<%content_for :page_title do%>Scores<%end%>
<%content_for :page_header do%>Scores<%end%>
<%content_for :page_description do%>List all of the scores you have entered.<%end%>
<div id="HandiDiv" style="float: right;">
	<div id="Handicap_Label">Handicap</div> 
	<div id="Handicap_Score"><%= @handicap %></div>
</div>
<div class="clear_float"></div>


<% if !@scores.empty? %>
	<%= link_to 'Add a Score', new_score_path, class: "add_course_link" %>
<% end %>
<div class="clear_float"></div>

<% if @scores.empty? %>
	<p class="welcome_message">
		Welcome to golfingscores.com
	</p>
	<p class="call_to_enter_course">
		Before you can enter scores, you need to <%= link_to 'add the courses', new_course_path %> you play.
	</p>
	<p class="call_to_enter_course">
		If you have already added a course, go ahead and <%= link_to 'enter your first score', new_score_path %>.
	</p>
	
<% else %>
	<table class="table table-striped"> 
		<tbody> 
			<% @scores.each_with_index do |score, i| %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= "%s %s, %s" % [score.date_played.strftime("%b"), score.date_played.day.ordinalize, score.date_played.year] %></td>
					<td><%= score.tee.course.name %> <small>(<%= score.tee.name %>)</small></td> 
					<% if (@score_ids_used_in_handicap_calc.include? score.id) %>
						<td><%= link_to score.total.to_s + " *", edit_score_path(score.id), class: "handicap_score" %></td> 
					<%else%>
						<td><%= link_to score.total, edit_score_path(score.id) %></td> 
					<%end%>
				</tr>
			<% end %>
		</tbody> 
	</table>
<% end %>