<%content_for :page_title do%>Scores<%end%>
<%content_for :page_header do%>Scores<%end%>
<div id="HandiDiv" style="float: right;">
	<div id="Handicap_Label">Handicap</div> 
	<div id="Handicap_Score"><%= @handicap %></div>
</div>
<div class="clear_float"></div>


<%= link_to 'Add a Score', new_score_path, class: "add_course_link" %>
<div class="clear_float"></div>



<table class="table table-striped"> 
	<tbody> 
		<% @scores.each do |score| %>
			<tr>
				<!-- <td><%= score.date_played.strftime("%b %d, %Y") %></td> -->
				<td><%= "%s %s, %s" % [score.date_played.strftime("%b"), score.date_played.day.ordinalize, score.date_played.year] %></td>
				<td><%= score.tee.course.name %> <small>(<%= score.tee.name %>)</small></td> 
				<td><%= link_to score.total, edit_score_path(score.id) %></td> 
			</tr>
		<% end %>
	</tbody> 
</table>