<%content_for :page_title do%>Change Subscription<%end%>
<%content_for :page_header do%>Change Subscription<%end%>
<%content_for :page_description do%>Change your subscription.<%end%>


			

<div id="plans">
	<div class="plan" id="Amateur_Plan">
		<div class="plan_header">
			<h3>Amateur</h3>
		</div>
		<div class="plan_content">
			<div class="plan_top">
				<div class="plan_price">$<%= @low_stripe_plan_price %></div>
				<div class="per_year">per <%= @month_or_year %></div>
			</div>
			<div class="plan_features">
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Unlimited scores</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Current handicap</span>
				</div>
			</div>
			<% if @current_stripe_plan.include? "Amateur" %>
				<div class="current_plan">This is your current plan</div>
			<% else %>
				<%= button_to "Downgrade to Amateur", settings_change_subscription_path(:plan_name => @low_stripe_plan), class: "btn btn-primary btn-lg", id: "change_subscription_button", role: "button" %>
			<% end %>
		</div>
	</div>

	<div class="plan" id="Club_Plan">
		<div class="plan_header">
			<h3>Club</h3>
		</div>
		<div class="plan_content">
			<div class="plan_top">
				<div class="plan_price">$<%= @medium_stripe_plan_price %></div>
				<div class="per_year">per <%= @month_or_year %></div>
			</div>
			<div class="plan_features">
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Unlimited scores</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Current handicap</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Putts per green</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Penalties per round</span>
				</div>
			</div>
			<% if @current_stripe_plan.include? "Amateur" %>
				<%= button_to "Upgrade to Club", settings_change_subscription_path(:plan_name => @medium_stripe_plan), class: "btn btn-primary btn-lg", id: "change_subscription_button", role: "button" %>
			<% elsif @current_stripe_plan.include? "Club" %>
				<div class="current_plan">This is your current plan</div>
			<% else %>
				<%= button_to "Downgrade to Club", settings_change_subscription_path(:plan_name => @medium_stripe_plan), class: "btn btn-primary btn-lg", id: "change_subscription_button", role: "button" %>
			<% end %>
		</div>
	</div>

	<div class="plan" id="Pro_Plan">
		<div class="plan_header">
			<h3>Pro</h3>
		</div>
		<div class="plan_content">
			<div class="plan_top">
				<div class="plan_price">$<%= @high_stripe_plan_price %></div>
				<div class="per_year">per <%= @month_or_year %></div>
			</div>
			<div class="plan_features">
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Unlimited scores</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Current handicap</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Putts per green</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Penalties per round</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Fairways hit</span>
				</div>
				<div class="feature_line">
					<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: limegreen;"></span><span class="included_feature">Greens in regulation</span>
				</div>
			</div>
			<% if @current_stripe_plan.include? "Pro" %>
				<div class="current_plan">This is your current plan</div>
			<% else %>
				<%= button_to "Upgrade to Pro", settings_change_subscription_path(:plan_name => @high_stripe_plan), class: "btn btn-primary btn-lg", id: "change_subscription_button", role: "button" %>
			<% end %>
		</div>
	</div>

	<br style="clear: left;" />
</div>