    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Statgolf.com</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
          </ul>

          <% if !current_page?(new_user_registration_path) %>
            <ul class="nav navbar-nav navbar-right">
              <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, {:autofocus => true, :placeholder => "Email", :class => 'form-control'} %> 
                </div>
                <div class="form-group">
                  <%= f.password_field :password, {:class => 'form-control', :placeholder => "Password", autocomplete: "off"} %>
                </div>
                
                <%= f.submit 'Login', class: "btn btn-default" %>
                <%= link_to "Forgot password?", new_user_password_path %>
              <% end %>
            </ul>
          <% end %>


        </div><!--/.nav-collapse -->
      </div>
    </nav>
