<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Statgolf <%= yield :page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application" => true %>
  
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_yxT6Bqqd4iYidlLdNIveDgNb');
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<%=
	if ( user_signed_in? )
      render "/layouts/navbar_user_logged_in"
	else
      render "/layouts/navbar_not_logged_in"
    end
%>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	   <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>
      <%= yield %>
    </div>

</body>

   <div id="footer">
      <div class="footer_content float_left text-muted">
        &copy; <%= Time.now.year %> <a href="http://www.statgolf.com">www.statgolf.com</a> all rights reserved.
      </div>
      <div class="footer_content float_right text-muted">
        Contact us at <a href="mailto:support@statgolf.com">support@statgolf.com</a>
      </div>
    </div>

</html>
